<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="Exceptional" type="StackExchange.Exceptional.Settings, StackExchange.Exceptional" />
  </configSections>
  <appSettings>
    <add key="serviceName" value="DatastoreCoreServices" />
    <add key="AdminUrl" value="http://localhost:22500/" />
    <add key="AgentToken" value="sNYhdOrW/NBxUbL4ZE8KYHtK8WWiPJ10j6j4UC/jfkm4mij14aEoFPfg6jYNGpttjz9ZIW1DzNZV55gX+dJsapb1yoC9yDAiaRq9iZQacqw=" />
    <add key="NewRelic.AppName" value="SomeApplication" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>

  <connectionStrings>
    <add name="DatastoreEntities" connectionString="Data Source=.;Initial Catalog=HPDatastore;Integrated Security=SSPI;Connection Timeout=600;" />
    <add name="DatastoreExceptions" connectionString="Server=.;Database=DatastoreExceptions;Integrated Security=SSPI;" providerName="System.Data.SqlClient" />
  </connectionStrings>

  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
    <runtime>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <dependentAssembly>
                <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
            </dependentAssembly>
        </assemblyBinding>
    </runtime>

  <Exceptional applicationName="Datastore">
    <IgnoreErrors>
      <Regexes>
        <!-- Exceptions with messages matching a regex here will not be logged -->
        <!--<add name="connection failed" pattern="Request timed out\.$"/>-->
      </Regexes>
      <Types>
        <!-- Exceptions of the types listed here will not be logged. -->
        <!--<add type="System.Exception" />-->
      </Types>
    </IgnoreErrors>

    <!-- For development, we just use the default memory store so that exceptions have somewhere to go. -->
    <!-- For production, a separate SQL database should be used to store exceptions. -->
    <ErrorStore type="Memory" />
    <!--<ErrorStore type="SQL" connectionStringName="DatastoreExceptions" />-->
  </Exceptional>
</configuration>
