<?xml version="1.0" encoding="utf-8"?>

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true">

  <variable name="thread" value="T:${pad:padding=4:padCharacter=0:inner=${threadid}" />
    
  <targets async="true">
    <target name="file"
            xsi:type="File"
            layout="${pad:padding=-5:inner=${level}} | ${longdate} | ${var:thread} | ${message} | ${exception:format=Message,ShortType,StackTrace}"
            fileName="${basedir}/logs/${shortdate}.txt"
            keepFileOpen="false"
            concurrentWrites="false"
            enableArchiveFileCompression="true"
            encoding="iso-8859-2" />
    <target name="console"
            xsi:type="ColoredConsole"
            useDefaultRowHighlightingRules="true"
            layout="${date:format=HH\:mm\:ss} | ${var:thread} | ${message} | ${exception:format=ToString:innerFormat=ToString:maxInnerExceptionLevel=3:innerExceptionSeparator=*-------} ">
      <highlight-word regex="^[0-9]+:[0-9]+:[0-9]+" foregroundColor="Green" />
    </target>
  </targets>
  
  <rules>
    <logger name="*" minlevel="Debug" writeTo="console" />
    <logger name="*" minlevel="Debug" writeTo="file" />
  </rules>
</nlog>