<?xml version="1.0"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <targets>
    <target name="console"
            xdt:Transform="Remove" xdt:Locator="Match(name)"/>
  </targets>
  <rules>
    <logger writeTo="console"
            xdt:Transform="Remove" xdt:Locator="Match(writeTo)"/>
  </rules>
</nlog>
