<?xml version="1.0"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform"
      internalLogLevel="Info" internalLogFile="C:/Logs/Datastore/nlog-internal.log"
      xdt:Transform="SetAttributes">
  
  <targets>
    <target name="file" fileName="C:/Logs/Datastore/${shortdate}.txt"
            xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <target name="errorStore" xsi:type="ErrorStore"
            xdt:Transform="Insert"/>
  </targets>
  <rules>
    <logger writeTo="file" minlevel="Debug"
            xdt:Transform="SetAttributes" xdt:Locator="Match(writeTo)"/>
    <logger name="*" minlevel="Warn" writeTo="errorStore"
            xdt:Transform="Insert"/>
  </rules>
</nlog>
