<?xml version="1.0" encoding="utf-8"?>

<!-- 
  This file needs to be put in the application directory. Make sure to set 
  'Copy to Output Directory' option in Visual Studio.
  -->
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <variable name="exceptionLayout" value="${onexception:${newline}EXCEPTION\: ${exception:format=ToString:innerFormat=Type,Message,Data:maxInnerExceptionLevel=5:separator= | :innerExceptionSeparator=&#13;&#10;----------&#13;&#10;}}" />
    
  <targets async="true">
    <target name="file"
            xsi:type="File"
            layout="${level} | ${longdate} | ${message} | ${exception:format=Message,ShortType,StackTrace}"
            fileName="${basedir}/logs/${shortdate}.txt"
            keepFileOpen="false"
            encoding="iso-8859-2" />
    <target name="console"
            xsi:type="ColoredConsole"
            useDefaultRowHighlightingRules="true"
            layout="${date:format=HH\:mm\:ss} ${message} ${exception:format=ToString:innerFormat=ToString:maxInnerExceptionLevel=3:innerExceptionSeparator=*-------} ">
      <highlight-word regex="[0-9]+:[0-9]+:[0-9]+" foregroundColor="Green" />
    </target>
  </targets>


  <rules>
    <logger name="*" minlevel="Debug" writeTo="console" />
    <logger name="*" minlevel="Debug" writeTo="file" />
  </rules>
</nlog>